<cfoutput>
    <div class="panel panel-primary">
        <div class="panel-body" style="padding: 10px;">
            <img src="#event.getModuleRoot("cbAdmin5Fixes")#/includes/images/cbAdmin5Fixes.png" style="wdith: 100%;">
        </div>
    </div>
</cfoutput>